/* --- Layout zonder tabs --- */
.code-editor-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.editor-box {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  max-width: 48%;
}

.editor-box label {
  margin-bottom: .3rem;
}

.CodeMirror {
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: var(--shadow);
  background: var(--panel);
}

/* Preview */
.preview-container {
  margin-top: 2rem;
}

.preview-container iframe {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}


body.dark-mode .CodeMirror {
    background: #303030;
    color: #fff;
}

body.dark-mode .preview-container iframe {
  background: #303030;
  color: #fff;
}